@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-size {
    max-width: 1180px;
    padding: 40px 20px;
    @screen md {
      padding: 80px 80px;
    }
    @screen lg {
      padding: 100px 120px;
    }
  }
}
